#canvas-image-blending {
  position: absolute;
  width: 100%;
  height: 750px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-content {
  padding: 5% 5%;
}

.header {
  display: flex;
}

.work-header {
  display: flex;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 3.0rem;
  font-weight: 700;
  color: black;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.0rem;
  font-weight: 500;
  color: black;
}

h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: black;
  padding-bottom: 10px;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}

.time-text {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  color: black;
}

.header-text {
  width: 80%
}

.header-image {
  width: 65%;
  height: 65%;
}

.col {
  padding-bottom: 30px;
}

.rounded-corners {
  border-radius: 20px;
  height: 300px;
}

.title-image {
  border-radius: 20px;
  width: 80%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 3%;
}

.closeModal1,
.closeModal2,
.closeModal4,
.closeModal5,
.closeModalHobby1,
.closeModalHobby2,
.closeModalHobby3,
.closeModalHobby4,
.closeModalHobby5,
.closeModalHobby6 {
  color: #fa0000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closeModal1:hover,
.closeModal2:hover,
.closeModal4:hover,
.closeModal5:hover,
.closeModalHobby1:hover,
.closeModalHobby2:hover,
.closeModalHobby3:hover,
.closeModalHobby4:hover,
.closeModalHobby5:hover,
.closeModalHobby6:hover {
  color: rgb(58, 33, 33);
  text-decoration: none;
}

ul {
  list-style-position: inside;
  list-style-type: square;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-container-reverse {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.big-container-left {
  flex: 70%;
  padding: 10px;
  text-align: left;
}

.small-container-right {
  flex: 30%;
  padding: 10px;
  text-align: right;
}

.big-container-right {
  flex: 70%;
  padding: 10px;
  text-align: left;
}

.small-container-left {
  flex: 30%;
  padding: 10px;
  text-align: left;
}

/* Contact me section */
.fa {
  padding: 20px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-envelope {
  background: #3D348B;
  color: white;
}

.fa-instagram {
  background: #7678ED;
  color: white;
}

.fa-linkedin {
  background: #006eff;
  color: white;
}

/* Styling for the progress bars */
.progressbar {
  height: 30px;
  width: 20%;
  background-color: #3D348B;
  display: flex;
  align-items: center;
  margin: 20px;
}

.inner-progressbar {
  background-color: #7678ED;
  height: 22px;
  margin-left: 4px;
  margin-right: 4px;
  padding-right: 4px;
  color: white;
  text-align: right;
  font-size: 15px;
}

.English {
  width: 80%;
}

.Arabic {
  width: 100%;
}

.Turkish {
  width: 40%;
}

@media only screen and (max-width: 550px) and (min-width: 200px) {
  .container-fluid {
    align-content: center;
  }

  .header {
    display: inline;
    align-items: center;
  }

  .progressbar {
    width: 60%;
  }

  .flex-container-reverse {
    flex-direction: column-reverse;
  }
  
  .big-container-left, .small-container-right {
    flex: 100%;
  }

  .small-container-right {
    text-align: center;
  }

  .big-container-right, .small-container-left {
    flex: 100%;
  }

  .small-container-left {
    text-align: center;
  }
}
